<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Vidaura</title>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" href="static/\index.css">


</head>

<body>

<header>
    <div class="logo">Vidaura</div>
</header>

<div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="margin-bottom:15px;">
            {% for message in messages %}
                <div style="
                    background:#22c55e;
                    padding:10px;
                    border-radius:8px;
                    color:#000;
                    font-weight:bold;">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    <div class="card">
        <h1>Download YouTube Videos</h1>
        <p>Fast, simple, and powerful video & audio downloader</p>

        <form method="POST" onsubmit="showLoader()">
            <input type="text" name="url" placeholder="Paste YouTube URL here..." required>
            <button type="submit">Fetch</button>
        </form>

        <!-- Loader -->
        <div class="loader" id="loader">
            <div></div>
        </div>

        {% if data %}
        <div class="preview">
            <h3 style="padding: 10px;">{{data.title}}</h3>

            <img src="{{ data.thumbnail }}" alt="thumbnail">

            <video controls>
                <source src="{{ data.formats[0].url }}" type="video/mp4">
            </video>

            <h3>Download Options</h3>

            <div class="download-grid">
                {% for format in data.formats %}
                    {% if format.height in [240, 360, 480, 720] %}
                    <form action="/download" method="POST">
                        <input type="hidden" name="url" value="{{request.form.url}}">
                        <input type="hidden" name="format_id" value="{{format.format_id}}">
                        <button type="submit">
                                {{format.height or format.ext}} | {{format.filesize}}mb
                         
                        </button>
                    </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>

<footer>
    © 2026 Vidaura
</footer>

<script>
function showLoader() {
    document.getElementById("loader").style.display = "block";
}
</script>

</body>
</html>